.App {
  margin: 0 auto;
  padding: 100px 0;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.status {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 20px;
}

.game-info {
  text-align: center;
}

.game-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0 ;
}

.game-item {
  margin-bottom: 15px;
}

.tutorial {
  text-align: center;
  padding: 100px 0 0;
}
